html{
    scroll-behavior: smooth;
}
.hero {
  height: calc(100vh - 48px);
}
.section {
  height: 100%;
}
#fixed-right{
  overflow-y: hidden;
}
#scroll-left {
  overflow-y: auto;
    height: 100%;
  width: 100%;
}
/* ======= form ========= */
.styleForm{
  width: 100%;
  margin: 5em auto;
  padding: 1em 10px;
  height: auto;
  border: 3px solid green;
  /* border-radius: .5em; */
  font-size: 20px;
  
}
form legend{
  text-align: center;
  color: #007400;
  margin-bottom: 30px;
  font-size: 30px;
}
.form-control .styleLabel{
  padding: 10px;
  font-size: 18px;
}
.form-control .styleInput{
  font-size: 14px;
  padding: 20px;
  border: 1px solid green;
  outline: none;
  border-radius: .2em;
}
.btnManager{
  margin-top: 30px;
  outline: none;
  border-radius: 20em;
  width: 98%;
  padding: 10px;
  background-color: #00a300;
  font-size: 24px;
  color: #fff;
}
.btnManager:hover{
  color: #fff;
 background-image: linear-gradient(to bottom right, #00410a, #12b100);

  outline: none;
}
.btnEdit{
  margin: 0 4em 0 2em;
  width: 100px;
  font-weight: bold;
}
